.avatar-lg {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  vertical-align: bottom;
  border-radius: 1000px !important;
  padding-left: 15px;
  padding-right: 15px;
}
.avatar-lg img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 0 none;
  border-radius: 1000px !important;
  
}
.form-control {
  font-size: .85rem !important;
}

.card-body {
  background-color: #373a47;
  width: 800px;
  height: 1000px;
  color: #fff;
  
}

.card {
  width: 800px;
  height: 800px;
}