/* Parked users */
.list-group .user {
  width: 100%;
  padding: 2px 0;
  border-bottom: 0;
}
.user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.avatar {
  position: relative;
  display: inline-block;
  width: 40px;
  white-space: nowrap;
  vertical-align: bottom;
}
.avatar img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 0 none;
  border-radius: 1000px;
}
@media (min-width: 768px){
  .user-body {
    overflow: hidden;
  }
  .user-body {
    overflow: auto;
  }
}

.user-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.avatar i {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 100%;
}
.avatar-parked i {
  background-color: #ff4c52;
}
.avatar-leaving i {
  background-color: #11c26d;
}