.map {
    margin: 0px 0px 0px 0px;
    float:left;
}

.content {
    margin-top: 20px;
}
.parking {
    float:right;
    background-color: white;
}
.message {
    margin-left: 5px;
    float: left;
    background-color: white;
}
.header {
    margin-top: 20px;
    padding: 2px;
}
.header span {
    background-color: white;
}
.messages {
    margin-top: 5px;
}
.message-editor{
    /* margin: 1em 20%; */
    padding: .5%;
    display: grid;
    border: outset;
}
.message-editor-button{
    float: right;
    margin-top: 1em;
}
.message-editor-input {
    margin-top: 2%;
}

@media(max-width: 900px) {
    .message-editor {
        margin:1em;
    }
}
.sidebar {
    background-color: transparent!important;
    border-style: solid;
    position: relative;
    float: left;
    margin-left: 0;
    height: 675px;
    margin-bottom: 5px;
}
.spot-switch {
    margin-right: 30px;
    float: left;
}
.first-switch {
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-top: 5px;
}
.location-switch {
    margin-right: 62px;
    float: left;
}
.second-switch {
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-top: 1px;
}
.parkSpotHeading {
    color:  white;
    margin-right: 0;
}
.parkingForm {
    padding: 5px;
    
}
.parking-request {   
    border: outset;
    border-color: white;
    /* margin-top: 475px; */
}
.parking-selectors {
    margin-left: 0;
    float: left;
    position: top;
}
.parking-header {
    color: white;
}
.parkingMessages {
    margin-top: 10px;
    padding: 5px;
    border: outset;
}
p {
    font-size: 20px;
    color: white;
}